## Importing required libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')

## Loading the test and Train Sets

In [2]:
d_train= pd.read_csv('train.csv')
d_test= pd.read_csv('test.csv')

In [3]:
d_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
d_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
print(d_train.shape)
print(d_test.shape)

(4209, 378)
(4209, 377)

In [6]:
print(d_train.columns)
print(d_test.columns)

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)
Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [7]:
print(d_train.info())
print(d_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB
None

## Deleting the variables with Variance = 0

In [8]:
def var_zero(df):
    var_data= pd.DataFrame(df.var(),columns=['Variance'])
    return(list(var_data[var_data.Variance==0].index))

In [9]:
varzero= var_zero(d_train)
varzero_test= var_zero(d_test)

In [10]:
var_data= pd.DataFrame(d_train.var(),columns=['Variance'])
var_data_test= pd.DataFrame(d_test.var(),columns=['Variance'])

In [11]:
d_train.drop(columns=varzero, inplace=True)
d_train.shape

(4209, 366)

In [12]:
d_test.drop(columns=varzero_test, inplace=True)
d_test.shape

(4209, 372)

In [13]:
print(d_train.shape)
print(d_test.shape)

(4209, 366)
(4209, 372)

## Check for null Values for Test and Train set and Deleting them

In [14]:
null_check_df= pd.DataFrame(d_train.isnull().any(), columns=['IsNull'])
null_check_df[null_check_df.IsNull==True]

Empty DataFrame
Columns: [IsNull]
Index: []

In [15]:
null_check_df_test= pd.DataFrame(d_test.isnull().any(), columns=['IsNull'])
null_check_df_test[null_check_df_test.IsNull==True]

Empty DataFrame
Columns: [IsNull]
Index: []

In [16]:
unique_count= pd.DataFrame(d_train.nunique(), columns=['Unique'])
unique_count[unique_count.Unique>2]

    Unique
ID    4209
y     2545
X0      47
X1      27
X2      44
X3       7
X4       4
X5      29
X6      12
X8      25

In [17]:
unique_count_test= pd.DataFrame(d_test.nunique(), columns=['Unique'])
unique_count_test[unique_count_test.Unique>2]

    Unique
ID    4209
X0      49
X1      27
X2      45
X3       7
X4       4
X5      32
X6      12
X8      25

In [18]:
print(unique_count[unique_count.Unique<=2])
print(unique_count_test[unique_count_test.Unique<=2])

      Unique
X10        2
X12        2
X13        2
X14        2
X15        2
...      ...
X380       2
X382       2
X383       2
X384       2
X385       2

[356 rows x 1 columns]
      Unique
X10        2
X11        2
X12        2
X13        2
X14        2
...      ...
X380       2
X382       2
X383       2
X384       2
X385       2

[363 rows x 1 columns]

# Applying Label Encoder to categorical values

In [19]:
x= d_train.drop(columns='y')
y=d_train.y

In [20]:
x_test= d_test

In [21]:
x.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,6,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,7,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,9,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,13,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
x_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [23]:
cat_cols= d_train.select_dtypes(include='object').columns
cat_cols

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [24]:
def transform_labels(df,x):
    cat_cols= df.select_dtypes(include='object').columns
    le= LabelEncoder()
    for i in cat_cols:
        le.fit(x[i])
        x[i]=le.fit_transform(x[i])
        
transform_labels(d_train,x)
transform_labels(d_test,x_test)

In [25]:
x.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,6,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,7,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,9,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,13,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
x_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0

# Dimensionality Reduction

In [27]:
pcamodel= PCA()

In [28]:
pcamodel.fit(x)

PCA()

In [29]:
pcamodel.explained_variance_ratio_

array([9.99915408e-01, 3.43250074e-05, 1.91351988e-05, 1.09402163e-05,
       8.24910539e-06, 6.58920898e-06, 1.42452645e-06, 6.65804820e-07,
       3.88293669e-07, 2.63001372e-07, 2.16183012e-07, 2.11583571e-07,
       1.82010530e-07, 1.49422616e-07, 1.32555912e-07, 1.15098844e-07,
       9.26583708e-08, 8.57310762e-08, 8.00377113e-08, 7.03657987e-08,
       6.35342210e-08, 5.76627256e-08, 5.56826130e-08, 5.23078897e-08,
       4.58894501e-08, 4.32402600e-08, 3.87030746e-08, 3.70665275e-08,
       3.38043076e-08, 3.29543449e-08, 3.18590240e-08, 2.94860866e-08,
       2.81651246e-08, 2.68359999e-08, 2.52547391e-08, 2.39617111e-08,
       2.22318617e-08, 1.98219061e-08, 1.91972961e-08, 1.85152433e-08,
       1.75969872e-08, 1.66781887e-08, 1.59642978e-08, 1.57449519e-08,
       1.56219632e-08, 1.51186599e-08, 1.36807905e-08, 1.33843808e-08,
       1.28717525e-08, 1.26621251e-08, 1.23723086e-08, 1.19512796e-08,
       1.15990811e-08, 1.12811399e-08, 1.06850368e-08, 1.02643238e-08,
       9.65278251e-09, 9.57090299e-09, 9.21646680e-09, 9.07716540e-09,
       8.83672320e-09, 8.31942426e-09, 8.10386168e-09, 7.78381951e-09,
       7.68757076e-09, 7.11946061e-09, 6.98328248e-09, 6.80456357e-09,
       6.71094683e-09, 6.33709996e-09, 6.17518032e-09, 5.99938620e-09,
       5.90678134e-09, 5.69786512e-09, 5.52746545e-09, 5.44539249e-09,
       5.25526621e-09, 5.14781518e-09, 5.05650503e-09, 4.92055772e-09,
       4.83836175e-09, 4.77546510e-09, 4.56784718e-09, 4.50096010e-09,
       4.34263510e-09, 4.16208636e-09, 4.14999589e-09, 3.99695549e-09,
       3.93022807e-09, 3.85820554e-09, 3.80140438e-09, 3.71147711e-09,
       3.63696002e-09, 3.48854401e-09, 3.33811243e-09, 3.26762199e-09,
       3.22631231e-09, 3.16439352e-09, 3.08408017e-09, 3.02688199e-09,
       2.94537158e-09, 2.86121156e-09, 2.79546598e-09, 2.74463389e-09,
       2.57524594e-09, 2.55717652e-09, 2.44995818e-09, 2.43370956e-09,
       2.35795929e-09, 2.31408768e-09, 2.25647459e-09, 2.18163523e-09,
       2.17748783e-09, 2.09926545e-09, 2.02798168e-09, 1.98363790e-09,
       1.93637300e-09, 1.86628122e-09, 1.79035354e-09, 1.69817651e-09,
       1.69374914e-09, 1.66574005e-09, 1.62770246e-09, 1.59474256e-09,
       1.53062409e-09, 1.47409717e-09, 1.44056891e-09, 1.41773387e-09,
       1.38725399e-09, 1.37643393e-09, 1.34042748e-09, 1.32681145e-09,
       1.27705134e-09, 1.26327771e-09, 1.23399803e-09, 1.17522976e-09,
       1.14432652e-09, 1.12807957e-09, 1.10920255e-09, 1.09599604e-09,
       1.09034079e-09, 1.04436779e-09, 9.63308049e-10, 9.28969067e-10,
       9.00492374e-10, 8.91882865e-10, 8.64122602e-10, 8.48405594e-10,
       8.40658494e-10, 7.91243005e-10, 7.87403277e-10, 7.64105701e-10,
       7.53290875e-10, 7.37811061e-10, 7.15147894e-10, 6.93305244e-10,
       6.75186635e-10, 6.35142383e-10, 6.32790846e-10, 6.12467364e-10,
       5.97397481e-10, 5.63733989e-10, 5.58340245e-10, 5.45984314e-10,
       5.36127453e-10, 5.17472934e-10, 5.09045453e-10, 5.03216640e-10,
       4.87161739e-10, 4.84965828e-10, 4.54957457e-10, 4.39941904e-10,
       4.29798603e-10, 4.11103749e-10, 3.95242942e-10, 3.82929575e-10,
       3.66238747e-10, 3.38593818e-10, 3.30464650e-10, 3.22450931e-10,
       3.14479586e-10, 3.10292969e-10, 2.95738534e-10, 2.87484295e-10,
       2.75828888e-10, 2.70674122e-10, 2.62034152e-10, 2.56309734e-10,
       2.47698351e-10, 2.41960512e-10, 2.35151975e-10, 2.32381295e-10,
       2.23170427e-10, 2.13643205e-10, 2.08084548e-10, 2.02871943e-10,
       1.99160612e-10, 1.95331010e-10, 1.91161242e-10, 1.86631419e-10,
       1.80638801e-10, 1.76625497e-10, 1.73684882e-10, 1.59327866e-10,
       1.59033963e-10, 1.51540415e-10, 1.47514439e-10, 1.43596643e-10,
       1.42312801e-10, 1.33449206e-10, 1.30244259e-10, 1.22353527e-10,
       1.19056198e-10, 1.15251026e-10, 1.12339749e-10, 1.09231617e-10,
       1.02108924e-10, 9.74920349e-11, 9.07524385e-11, 8.88851877e-11,
       8.54001635e-11, 8.01262657e-11, 7.59440819e-11, 7.16735522e-11,
       7.08130816e-11, 6.98741932e-11, 6.94392651e-11, 6.86077529e-11,
       6.53385992e-11, 6.45547728e-11, 6.07275580e-11, 5.87289258e-11,
       5.76342803e-11, 5.64779687e-11, 5.51648486e-11, 5.20759941e-11,
       4.87342869e-11, 4.39136815e-11, 4.32662948e-11, 3.84524325e-11,
       3.78863949e-11, 3.73250881e-11, 3.65723433e-11, 3.64552249e-11,
       3.60519269e-11, 3.47654524e-11, 3.35877691e-11, 3.24093521e-11,
       3.05943123e-11, 2.92197534e-11, 2.19135331e-11, 1.77057771e-11,
       1.63487749e-11, 1.42185748e-11, 1.30484185e-11, 1.21406276e-11,
       1.10068964e-11, 8.89164766e-12, 7.73493286e-12, 2.39342745e-12,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       9.98312665e-33, 9.98312665e-33, 9.98312665e-33, 9.98312665e-33,
       1.07433519e-38])

In [30]:
pcamodel.explained_variance_ratio_.cumsum()*100

array([ 99.99154082,  99.99497332,  99.99688684,  99.99798086,
        99.99880577,  99.9994647 ,  99.99960715,  99.99967373,
        99.99971256,  99.99973886,  99.99976048,  99.99978163,
        99.99979984,  99.99981478,  99.99982803,  99.99983954,
        99.99984881,  99.99985738,  99.99986539,  99.99987242,
        99.99987878,  99.99988454,  99.99989011,  99.99989534,
        99.99989993,  99.99990425,  99.99990812,  99.99991183,
        99.99991521,  99.99991851,  99.99992169,  99.99992464,
        99.99992746,  99.99993014,  99.99993267,  99.99993506,
        99.99993729,  99.99993927,  99.99994119,  99.99994304,
        99.9999448 ,  99.99994647,  99.99994806,  99.99994964,
        99.9999512 ,  99.99995271,  99.99995408,  99.99995542,
        99.99995671,  99.99995797,  99.99995921,  99.99996041,
        99.99996157,  99.99996269,  99.99996376,  99.99996479,
        99.99996575,  99.99996671,  99.99996763,  99.99996854,
        99.99996942,  99.99997026,  99.99997107,  99.99997184,
        99.99997261,  99.99997332,  99.99997402,  99.9999747 ,
        99.99997537,  99.99997601,  99.99997663,  99.99997723,
        99.99997782,  99.99997839,  99.99997894,  99.99997948,
        99.99998001,  99.99998052,  99.99998103,  99.99998152,
        99.99998201,  99.99998248,  99.99998294,  99.99998339,
        99.99998382,  99.99998424,  99.99998466,  99.99998506,
        99.99998545,  99.99998583,  99.99998621,  99.99998659,
        99.99998695,  99.9999873 ,  99.99998763,  99.99998796,
        99.99998828,  99.9999886 ,  99.99998891,  99.99998921,
        99.9999895 ,  99.99998979,  99.99999007,  99.99999034,
        99.9999906 ,  99.99999086,  99.9999911 ,  99.99999134,
        99.99999158,  99.99999181,  99.99999204,  99.99999226,
        99.99999247,  99.99999268,  99.99999289,  99.99999308,
        99.99999328,  99.99999347,  99.99999364,  99.99999381,
        99.99999398,  99.99999415,  99.99999431,  99.99999447,
        99.99999463,  99.99999477,  99.99999492,  99.99999506,
        99.9999952 ,  99.99999533,  99.99999547,  99.9999956 ,
        99.99999573,  99.99999586,  99.99999598,  99.9999961 ,
        99.99999621,  99.99999632,  99.99999643,  99.99999654,
        99.99999665,  99.99999676,  99.99999685,  99.99999695,
        99.99999704,  99.99999713,  99.99999721,  99.9999973 ,
        99.99999738,  99.99999746,  99.99999754,  99.99999762,
        99.99999769,  99.99999776,  99.99999784,  99.99999791,
        99.99999797,  99.99999804,  99.9999981 ,  99.99999816,
        99.99999822,  99.99999828,  99.99999833,  99.99999839,
        99.99999844,  99.99999849,  99.99999854,  99.99999859,
        99.99999864,  99.99999869,  99.99999874,  99.99999878,
        99.99999882,  99.99999887,  99.9999989 ,  99.99999894,
        99.99999898,  99.99999901,  99.99999905,  99.99999908,
        99.99999911,  99.99999914,  99.99999917,  99.9999992 ,
        99.99999923,  99.99999925,  99.99999928,  99.99999931,
        99.99999933,  99.99999935,  99.99999938,  99.9999994 ,
        99.99999942,  99.99999945,  99.99999947,  99.99999949,
        99.99999951,  99.99999953,  99.99999955,  99.99999956,
        99.99999958,  99.9999996 ,  99.99999962,  99.99999963,
        99.99999965,  99.99999966,  99.99999968,  99.99999969,
        99.99999971,  99.99999972,  99.99999973,  99.99999975,
        99.99999976,  99.99999977,  99.99999978,  99.99999979,
        99.9999998 ,  99.99999981,  99.99999982,  99.99999983,
        99.99999984,  99.99999985,  99.99999985,  99.99999986,
        99.99999987,  99.99999987,  99.99999988,  99.99999989,
        99.99999989,  99.9999999 ,  99.99999991,  99.99999991,
        99.99999992,  99.99999992,  99.99999993,  99.99999994,
        99.99999994,  99.99999994,  99.99999995,  99.99999995,
        99.99999996,  99.99999996,  99.99999996,  99.99999997,
        99.99999997,  99.99999997,  99.99999998,  99.99999998,
        99.99999998,  99.99999999,  99.99999999,  99.99999999,
        99.99999999,  99.99999999, 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        , 100.        , 100.        , 100.        ,
       100.        ])

In [31]:
pcamodel.components_

array([[ 9.99997515e-01, -7.34609541e-05,  2.99568235e-04, ...,
        -1.56006132e-07, -1.37295095e-07,  4.49823896e-07],
       [-8.25418421e-05, -9.31138475e-01,  2.44312134e-01, ...,
         3.33638024e-06, -9.30807937e-06, -3.01954607e-05],
       [ 1.10694145e-04,  2.65106027e-01, -1.34229841e-02, ...,
        -9.46573002e-05, -7.35049264e-07, -7.50666635e-06],
       ...,
       [ 0.00000000e+00, -1.69619713e-18, -6.64893456e-18, ...,
        -1.31025833e-16,  7.21536546e-17, -5.14426512e-03],
       [ 0.00000000e+00, -1.37158063e-18,  2.50906476e-18, ...,
         1.14383329e-16, -2.39608680e-17, -1.11259595e-02],
       [ 0.00000000e+00,  7.90823841e-16, -7.38647939e-16, ...,
         1.00236659e-13,  4.73672750e-14,  1.35029550e-02]])

ID column alone explains 99% of features

In [32]:
pcamodel= PCA(n_components=120)

In [33]:
x.drop(columns=['ID'], inplace=True)

In [34]:
pcamodel.fit(x)

PCA(n_components=120)

In [35]:
x_pca= pd.DataFrame(pcamodel.transform(x))

In [36]:
pcamodel.explained_variance_ratio_

array([3.83347821e-01, 2.13880326e-01, 1.32618659e-01, 1.18266425e-01,
       9.20600842e-02, 1.59060433e-02, 7.44539716e-03, 4.33701278e-03,
       2.94020637e-03, 2.41796178e-03, 2.36488035e-03, 2.03228597e-03,
       1.67203776e-03, 1.48111202e-03, 1.28702378e-03, 1.03575260e-03,
       9.57334243e-04, 8.96963711e-04, 7.85687496e-04, 7.09719878e-04,
       6.44381974e-04, 6.23812984e-04, 5.84619689e-04, 5.12442941e-04,
       4.84778034e-04, 4.33105519e-04, 4.13937269e-04, 3.77641392e-04,
       3.68612369e-04, 3.56074501e-04, 3.29531653e-04, 3.14483888e-04,
       2.99702523e-04, 2.82667164e-04, 2.68166783e-04, 2.48543866e-04,
       2.21385193e-04, 2.14536509e-04, 2.07246666e-04, 1.96497966e-04,
       1.87129242e-04, 1.78741747e-04, 1.75868001e-04, 1.74483476e-04,
       1.70721494e-04, 1.53056235e-04, 1.49449450e-04, 1.43767040e-04,
       1.41453153e-04, 1.38275598e-04, 1.33457885e-04, 1.29756311e-04,
       1.25976813e-04, 1.19332745e-04, 1.14673666e-04, 1.08117852e-04,
       1.06983545e-04, 1.02935176e-04, 1.01351356e-04, 9.87032773e-05,
       9.30457799e-05, 9.07495494e-05, 8.69303158e-05, 8.61520866e-05,
       7.95136017e-05, 7.79736257e-05, 7.60537811e-05, 7.49528718e-05,
       7.07669603e-05, 6.89522076e-05, 6.69945208e-05, 6.61122523e-05,
       6.37278144e-05, 6.17201760e-05, 6.08761018e-05, 5.93574229e-05,
       5.86075121e-05, 5.64682288e-05, 5.49487837e-05, 5.43963218e-05,
       5.33202518e-05, 5.17185401e-05, 5.03790635e-05, 4.86252710e-05,
       4.69477789e-05, 4.64547783e-05, 4.49303167e-05, 4.38825478e-05,
       4.31469568e-05, 4.26321368e-05, 4.14948933e-05, 4.06433358e-05,
       3.89487022e-05, 3.72700876e-05, 3.66281610e-05, 3.60266371e-05,
       3.53691537e-05, 3.44763837e-05, 3.38048945e-05, 3.29247216e-05,
       3.19585976e-05, 3.12861675e-05, 3.06383596e-05, 2.87326310e-05,
       2.85779002e-05, 2.72797377e-05, 2.71789499e-05, 2.62580910e-05,
       2.58039991e-05, 2.51069752e-05, 2.43250501e-05, 2.40239684e-05,
       2.33128936e-05, 2.25703358e-05, 2.20490125e-05, 2.13989786e-05,
       2.04765703e-05, 1.97222571e-05, 1.86160506e-05, 1.84111926e-05])

In [37]:
pcamodel.explained_variance_ratio_.cumsum()*100

array([38.33478209, 59.72281468, 72.98468058, 84.81132306, 94.01733148,
       95.60793581, 96.35247553, 96.7861768 , 97.08019744, 97.32199362,
       97.55848165, 97.76171025, 97.92891403, 98.07702523, 98.20572761,
       98.30930287, 98.40503629, 98.49473266, 98.57330141, 98.6442734 ,
       98.7087116 , 98.7710929 , 98.82955487, 98.88079916, 98.92927696,
       98.97258751, 99.01398124, 99.05174538, 99.08860662, 99.12421407,
       99.15716723, 99.18861562, 99.21858587, 99.24685259, 99.27366927,
       99.29852366, 99.32066217, 99.34211583, 99.36284049, 99.38249029,
       99.40120321, 99.41907739, 99.43666419, 99.45411254, 99.47118468,
       99.48649031, 99.50143525, 99.51581196, 99.52995727, 99.54378483,
       99.55713062, 99.57010625, 99.58270393, 99.59463721, 99.60610457,
       99.61691636, 99.62761471, 99.63790823, 99.64804337, 99.65791369,
       99.66721827, 99.67629323, 99.68498626, 99.69360147, 99.70155283,
       99.70935019, 99.71695557, 99.72445086, 99.73152755, 99.73842277,
       99.74512222, 99.75173345, 99.75810623, 99.76427825, 99.77036586,
       99.7763016 , 99.78216235, 99.78780918, 99.79330405, 99.79874369,
       99.80407571, 99.80924757, 99.81428547, 99.819148  , 99.82384278,
       99.82848825, 99.83298129, 99.83736954, 99.84168424, 99.84594745,
       99.85009694, 99.85416127, 99.85805614, 99.86178315, 99.86544597,
       99.86904863, 99.87258555, 99.87603319, 99.87941368, 99.88270615,
       99.88590201, 99.88903062, 99.89209446, 99.89496772, 99.89782551,
       99.90055349, 99.90327138, 99.90589719, 99.90847759, 99.91098829,
       99.91342079, 99.91582319, 99.91815448, 99.92041151, 99.92261641,
       99.92475631, 99.92680397, 99.9287762 , 99.9306378 , 99.93247892])

In [38]:
pcamodel.components_

array([[-9.31138471e-01,  2.45494127e-01,  2.57713643e-01, ...,
         2.84628944e-06, -9.56497803e-06, -2.86842355e-05],
       [ 2.63046285e-01, -1.92186472e-02,  9.59720661e-01, ...,
        -9.23858305e-05, -5.16075133e-07, -1.32382564e-05],
       [ 1.40346165e-01,  5.51248020e-01,  2.15461586e-03, ...,
        -1.13659802e-04,  4.64816456e-05,  1.61546453e-04],
       ...,
       [-2.75072943e-04, -3.89022773e-03,  1.75279966e-03, ...,
        -8.84142323e-03,  4.18955286e-03,  2.88787206e-02],
       [ 9.44157787e-05, -1.81351653e-03, -1.53609317e-03, ...,
        -9.93346813e-03, -2.08840312e-03,  7.89581097e-03],
       [-1.72317482e-04,  4.80670572e-03,  1.76962263e-03, ...,
         1.05355772e-03, -1.58024758e-02,  2.22179508e-02]])

In [39]:
y

0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

In [40]:
x_pca.head()

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,0.614765,-0.133009,15.624460,3.687564,1.359574,-2.691417,3.816741,1.537687,-0.647686,1.737523,...,0.325595,-0.267177,-0.352285,-0.275256,-0.696345,0.469774,0.013925,0.280376,0.224846,0.204569
1,0.565407,1.560333,17.909581,-0.092902,1.536648,-4.442877,-0.796540,0.812571,-0.789268,-0.136565,...,0.119064,-0.236431,0.153502,0.365000,0.094831,-0.027370,-0.038581,0.169749,-0.015532,-0.042006
2,16.201713,12.292846,17.633540,0.186308,11.850820,-2.155389,0.828190,1.580676,-0.608199,-0.485257,...,0.055862,0.612943,-0.227030,-0.042635,-0.055516,-0.114175,-0.386433,-0.095076,0.326810,-0.047126
3,16.149998,13.535419,14.898695,-3.140917,-6.832193,-4.290014,-2.225924,2.099091,0.040956,-0.979216,...,0.233451,0.001811,-0.099238,-0.115424,0.083557,-0.079815,-0.557618,-0.653386,0.535109,-0.254688
4,16.459103,13.175004,4.403096,7.671151,2.139916,3.763860,-1.954082,2.103654,1.178386,-1.021905,...,-0.040962,-0.128235,0.103794,-0.053379,-0.207269,-0.152531,-0.040158,-0.118188,0.143286,0.086752

## Building Model using XGBRegressor

In [41]:
xtrain, xtest, ytrain, ytest= train_test_split(x_pca, y, test_size= 0.25, random_state= 10)

In [42]:
xgbModel=XGBRegressor(max_depth=3, min_child_weight=4, reg_lambda=1000, gamma = 100)

In [43]:
xgbModel.fit(xtrain,ytrain)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=100, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=3,
             min_child_weight=4, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1000, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [44]:
xgbModel.score(xtrain,ytrain)

0.6302583184254844

In [45]:
xgbModel.score(xtest, ytest)

0.5256026378017694

In [46]:
xgb_feature_imp=(pd.DataFrame(xgbModel.feature_importances_,index=x_pca.columns))

In [47]:
xgb_feature_imp.sort_values(by=0)#,ascending=False)

            0
119  0.000000
50   0.000000
65   0.000000
69   0.000000
26   0.000000
..        ...
9    0.028323
7    0.036336
0    0.042882
16   0.055635
11   0.082023

[120 rows x 1 columns]

In [48]:
xgb_feature_imp[xgb_feature_imp[0]==0].index.values.size

21

## Important observation here is, Feature importance is 0 for 21 features.

In [49]:
x_test

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,6,9,17,5,3,1,9,4,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,42,1,8,3,3,1,9,24,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,47,23,17,5,3,1,3,22,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,7,23,17,0,3,1,2,16,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,42,1,8,2,3,1,6,17,0,...,1,0,0,0,0,0,0,0,0,0

In [50]:
x_test.shape

(4209, 372)

In [51]:
x =x_test.drop(columns=['ID'])

In [52]:
x

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,6,9,17,5,3,1,9,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,42,1,8,3,3,1,9,24,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,47,23,17,5,3,1,3,22,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,7,23,17,0,3,1,2,16,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,42,1,8,2,3,1,6,17,0,0,...,1,0,0,0,0,0,0,0,0,0

In [53]:
transform_labels(x_test, x)

In [54]:
x.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

Dimensionality Reduction in Test Data

In [55]:
#x_pca_test= perform_pca(x_test,x)
pcamodel.fit(x_test)
x_pca_test= pd.DataFrame(pcamodel.transform(x_test))

In [56]:
x_pca_test.shape

(4209, 120)

In [57]:
xgb_feature_imp=(pd.DataFrame(xgbModel.feature_importances_,index=x_pca.columns))
xgb_feature_imp.sort_values(by=0)#,ascending=False)

            0
119  0.000000
50   0.000000
65   0.000000
69   0.000000
26   0.000000
..        ...
9    0.028323
7    0.036336
0    0.042882
16   0.055635
11   0.082023

[120 rows x 1 columns]

In [58]:
x=x_test.drop(columns=['ID'])

transform_labels(x_test,x)

In [59]:
x.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [61]:
def perform_pca(df,x):
    pcaModel=PCA(n_components=7)
    pcaModel.fit(x.iloc[:,0:9])
    x_pca_c=pd.DataFrame(pcaModel.transform(x.iloc[:,0:9]),columns=['C1','C2','C3','C4','C5','C6','C7'])
    x_pca_c=pd.concat([x_pca_c,df.ID],axis=1)
    x_non_pca=pd.concat([x.iloc[:,9:],df.ID],axis=1)
    x_pca=pd.merge(left=x_pca_c,right=x_non_pca,on='ID',how='inner')
    x_pca.drop(columns=['ID'],inplace=True)
    return x_pca
x_pca_test =perform_pca(x_test,x)

In [62]:
x_pca_test.shape

(4209, 369)

In [64]:
pcamodel.fit(x_pca_test)
x_pca= pd.DataFrame(pcamodel.transform(x_pca_test))

## Predicting Y for test Data

In [66]:
test_df=pd.DataFrame(xgbModel.predict(x_pca),columns=['y'])

In [67]:
test_df['ID']=x_test.ID

In [68]:
test_df.tail(10)

               y    ID
4199  103.717232  8401
4200  108.118233  8404
4201  110.575272  8407
4202  108.720940  8408
4203  113.925919  8409
4204  103.225029  8410
4205  106.751686  8411
4206  110.101929  8413
4207  105.502182  8414
4208   92.239494  8416

In [69]:
test_df.to_csv('Mercedes_TestData_Predictions.csv',index=False)